<div>
    <h2 class="text-center">Configuracion</h2>
    <div class="d-flex justify-content-center">
        <form action="" style="width: 60%;" class="p-3">

            <div class="input-group mb-3">
                <span class="input-group-text" id="inputGroup-sizing-default">Nombre del sistema</span>
                <input type="text" class="form-control" aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-default">
            </div>

            <div class="input-group mb-3">
                <input type="file" class="form-control" id="inputGroupFile02">
                <label class="input-group-text" for="inputGroupFile02">Logo</label>
            </div>

            <button type="submit" class="btn btn-success">Guardar</button>
        </form>
    </div>
</div>