{% extends 'base.html' %}

{% block content %}
<div>
    <h1 class="text-center">Productos</h1>

    <div class="d-flex justify-content-center">
        <table class="table shadow" style="width: 60%;">
            <thead>
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Stock</th>
                    <th scope="col">Codigo</th>
                    {% if request.user.is_authenticated%}
                    <th>Opciones</th>
                    {% else %}
                    {% endif%}
                </tr>
            </thead>
            <tbody>
                    {% for product in products %}
                    <tr>
                        <td>{{ product.name }}</td>
                        <td>{{ product.price }}</td>
                        <td>{{ product.price }}</td>
                        <td>{{ product.code }}</td>
                        
                        {% if request.user.is_authenticated%}
                            {% if request.user.is_staff %}
                            <td>
                                <ul class="d-flex gap-3" style="list-style: none;">
                                    <li>
                                        <a href="">Editar</a>
                                    </li>

                                    <li>
                                        <a href="">Eliminar</a>
                                    </li>
                                </ul>
                            </td>
                            {% else %}
                            <td>
                                <li>
                                    <a href="">Agregar al carro</a>
                                </li>
                            </td>
                            {% endif%}

                        {% else %}

                        {% endif%}
                    </tr>
                    {% endfor %}
            </tbody>
        </table>
    </div>
</div>
</div>
{% endblock content %}