{% extends "base.html" %}
{% block navbar %}
    {% include 'components/nav-bar.html'%}
{% endblock navbar %}

{% block asidebar %}
    {% include "components/aside-bar.html" %}
{% endblock asidebar %}

{% block content %}
<div class="d-flex flex-wrap gap-3 m-3" >
    
    <div class="rounded shadow" style="width: 30%; height: 10rem; background-color: #333;">
        Productos
    </div>

    <div class="rounded shadow" style="width: 30%; height: 10rem; background-color: #333;">
        Proveedores
    </div>

    <div class="rounded shadow" style="width: 30%; height: 10rem; background-color: #333;">
        clientes
    </div>

    <div class="rounded shadow" style="width: 30%; height: 10rem; background-color: #333;">
        ordenes
    </div>

    <div class="rounded shadow" style="width: 30%; height: 10rem; background-color: #333;">
        ventas
    </div>
</div>
{% endblock content %}

