<div class="d-flex" style="height: 100vh;">
    <div class="w-25 d-flex justify-content-start shadow">
        {% if request.user.is_staff %}
        <ul style="font-size: 26px; list-style: none; margin-top: 5rem;">

            <li>
                <div hx-get="{% url 'home' %}" hx-target="#body" hx-trigger="click" hx-swap="innerHTML">
                    Inicio
                </div>
            </li>

            <li>
                <div hx-get="{% url 'products' %}" hx-target="#body" hx-trigger="click" hx-swap="innerHTML">
                    Productos</div>
            </li>

            <li>
                <div hx-get="{% url 'providers' %}" hx-target="#body" hx-trigger="click" hx-swap="innerHTML">
                    Proveedores</div>
            </li>

            <li>
                <div hx-get="{% url 'orders' %}" hx-target="#body" hx-trigger="click" hx-swap="innerHTML">
                    Ordenes</div>
            </li>

            <li>
                <div hx-get="{% url 'sales' %}" hx-target="#body" hx-trigger="click" hx-swap="innerHTML">
                    Ventas</div>
            </li>

            <li>
                <div hx-get="{% url 'configuration' %}" hx-target="#body" hx-trigger="click" hx-swap="innerHTML">
                    Configuration</div>
            </li>
        </ul>
        {% else %}

        {%endif%}
</div>